@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Traveler</h1>
    <h2>Project Alpha</h2>
    <hr />
    <div class="row">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3>Built in ASP.NET Core</h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col">
                            <img alt="Image" />
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed sem posuere risus vulputate ornare. Nunc et sagittis elit. Praesent magna justo, gravida at viverra ut, efficitur quis mi. Phasellus.</p>
                        </div>
                        <div class="col">
                            <img src="../Images/Calendar_Icon.png" alt="Calendar Icon" />
                            <hr />
                            <p>@ViewBag.localTime</p>
                        </div>
                        <div class="col">
                            <img alt="Image" />
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed sem posuere risus vulputate ornare. Nunc et sagittis elit. Praesent magna justo, gravida at viverra ut, efficitur quis mi. Phasellus.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
